/* general */

*{
    margin:0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container{
    max-width: 920px;
    margin: auto;
    padding: 4rem 0;
}

button{
    background-color: #0061ff;
    color: white;
    padding: 0.6rem 1rem;
    border: 0;
}

img{
    width: 100%;
    object-fit: contain;
}

a{
    color: #6563f0;
}

h1{
    font-size: 4.5rem;
    margin-bottom: 3rem;
}

h2{
    font-size: 2.5rem;
    padding: 3rem 0;
}

h3{
    padding: 0.8rem;
    font-size: 1.5rem;
}

h4{
    font-size: 0.96rem;
    margin: 2.5rem 0;
    padding: 0 0.6rem;
}

.flex{
    display: flex;
}


/* nav bar */
nav{
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    background-color: white;
    z-index: 1;
}
nav img{
    width: 20%;
}

nav div{
    padding: 0.8rem 1.2rem;
}

.left, .right{
    display: flex;
}

/* main start */
.main-article{
    background-color: #b4d0e7;
    padding: 4rem 0 0rem 0;
    margin-bottom: 3rem;
}

.large-container{
    max-width: 1050px;
    margin: auto;
    position: relative;
    top: 4rem;
}

.main-article p{
    margin-bottom: 1.3rem;
}

.main-article button{
    font-size: 1rem;
    margin-bottom: 1.7rem;
}

.main-article img{
    width: 72%;
    margin-top: -0.3rem;
}

.icon div{
    margin-bottom: 4rem;
}

.icon img{
    width: 18%;
    margin: 0.8rem 0rem;
}

/* fatturazione */
.radio{
    border: 2px solid #0061ff;
    font-size: 2rem;
}

label{
    padding: 0 2rem 0 0;
}

/* colonne */
.flex-just{
    display: flex;
    justify-content: space-between;
}

.column{
    border: 1px solid grey;
    margin: 3rem 0.5rem 0 0;
    padding: 0%;
    width: 30%;
}

.top{
    border-bottom: 1px solid grey;
    text-align: center;
    padding: 0.3rem 0;
}

.padding {
    padding: 0.5rem;
    margin: auto;
}

.padding div{
    padding: 0 0 1rem 1rem ;
}

.time{
    color: grey;
    margin-bottom: 2.2rem ;
}

.padding button{
    margin:1.5rem 0 1rem -7px;
    font-size: 1rem;
    width: 100%;
}

hr{
    width: 15%;
    margin: 1.5rem 0;
}

.column img{
    width: 1rem;
    margin-right: 8px;
}

.small{
    width: 2rem;
}

.column li{
    list-style-type: none;
    display: inline-block;
}

.flex-icon{
    display: flex;
    align-items: flex-start;
}

#large{
    width: 100%;
}

.enterprise{
    margin-bottom: 1.5rem;
}

.but{
    width: 30%;
}

.image{
    width: 275%;
}

/* 3 section */
.find-partner{
    padding: 3rem;
}

.find-partner h3{
    padding: 0.8rem 0 0.8rem 0;
    font-size: 1.5rem;
}

.find-partner button{
    margin: 2rem 0;
    background-color: white;
    color: black;
    border: 1px solid black;
    font-size: 1rem;
}

/* 4 section */
.flex-wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.grid{
    width: 30%;
}

.grid h3{
    padding: 0.8rem 0 0.8rem 0;
    font-size: 1.5rem;
    margin: 1rem 0;
}

/* celeste */
.celeste{
    background-color: #b4d0e7;
}

.flex-align{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.celeste h2{
    color: #61082b;
}

.celeste .container div{
    width: 60%;
    text-align: right;
}

.celeste button{
    font-size: 1.2rem;
    color: black;
    background-color: white;
    padding: 0.6rem 1.8rem;
}

/* section */
.border-b>*{
    border-bottom: 1px solid grey;

}

.border-b div{
    padding: 1.5rem 0 1rem 0;
}